.backup-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.backup-container12 {
  display: contents;
}
.backup-container14 {
  display: contents;
}
.backup-container16 {
  display: contents;
}
.backup-tableau-contrats {
  flex: 0 0 auto;
  display: flex;
  border-width: 0px;
  flex-direction: column;
  background-color: transparent;
}
.backup-titre-des-colonnes1 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.backup-text106 {
  align-self: center;
}
.backup-navlink1 {
  display: contents;
}
.backup-text116 {
  align-self: center;
  text-align: center;
}
.backup-container19 {
  display: contents;
}
.backup-navlink2 {
  display: contents;
}
.backup-ligne12 {
  text-decoration: none;
}
.backup-text126 {
  align-self: center;
  text-align: center;
}
.backup-container22 {
  display: contents;
}
.backup-navlink3 {
  display: contents;
}
.backup-ligne13 {
  text-decoration: none;
}
.backup-text136 {
  align-self: center;
  text-align: center;
}
.backup-container25 {
  display: contents;
}
.backup-navlink4 {
  display: contents;
}
.backup-ligne14 {
  text-decoration: none;
}
.backup-text146 {
  align-self: center;
  text-align: center;
}
.backup-container28 {
  display: contents;
}
.backup-navlink5 {
  display: contents;
}
.backup-ligne15 {
  text-decoration: none;
}
.backup-text156 {
  align-self: center;
  text-align: center;
}
.backup-container31 {
  display: contents;
}
.backup-grille-de-contrle10 {
  gap: 0;
  z-index: 1000;
}
.backup-text163 {
  align-self: center;
}
.backup-text167 {
  align-self: center;
  text-align: center;
}
.backup-ligne-titre-chapitre1 {
  position: relative;
  border-width: 0px;
}
.backup-container33 {
  border-right-width: 0px;
}
.backup-ligne-sous-titre-chapitre11 {
  border-width: 0px;
  border-right-width: 0px;
}
.backup-container35 {
  flex: 0 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right-width: 0px;
}
.backup-ligne-rubrique1 {
  border-width: 0px;
  border-right-width: 0px;
}
.backup-text178 {
  align-self: center;
  text-align: center;
}
.backup-container39 {
  display: contents;
}
.backup-container41 {
  display: contents;
}
.backup-container43 {
  display: contents;
}
.backup-tableau-documents-contrat {
  gap: 0;
  z-index: 200;
}
.backup-documents-obligatoires1 {
  border-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.backup-actions10 {
  gap: var(--dl-space-space-threeunits);
}
.backup-bouton-bleu {
  position: relative;
}
.backup-bouton-rouge {
  position: relative;
}
.backup-bouton-vert {
  position: relative;
}
.backup-documents-obligatoires2 {
  border-radius: 0px;
}
.backup-contrat-de-service3 {
  align-self: center;
}
.backup-actions11 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-grille-de-contrle13 {
  align-self: center;
}
.backup-actions12 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-ajouter2 {
  position: relative;
}
.backup-telecharger2 {
  position: relative;
}
.backup-supprimer2 {
  position: relative;
}
.backup-grille-de-contrle15 {
  align-self: center;
}
.backup-actions13 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-generer3 {
  position: relative;
}
.backup-telecharger3 {
  position: relative;
}
.backup-supprimer3 {
  position: relative;
}
.backup-documents-obligatoires3 {
  border-radius: 0px;
}
.backup-grille-de-contrle18 {
  align-self: center;
}
.backup-actions14 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-telecharger4 {
  position: relative;
}
.backup-contrat-de-service6 {
  align-self: center;
}
.backup-actions15 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-telecharger5 {
  position: relative;
}
.backup-grille-de-contrle20 {
  align-self: center;
}
.backup-actions16 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-telecharger6 {
  position: relative;
}
.backup-grille-de-contrle22 {
  align-self: center;
}
.backup-actions17 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-telecharger7 {
  position: relative;
}
.backup-documents-obligatoires4 {
  border-radius: 0px;
}
.backup-grille-de-contrle25 {
  align-self: center;
}
.backup-actions18 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-telecharger8 {
  position: relative;
}
.backup-supprimer4 {
  position: relative;
}
.backup-contrat-de-service7 {
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.backup-contrat-de-service9 {
  align-self: center;
}
.backup-actions19 {
  gap: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.backup-ajouter3 {
  position: relative;
}
.backup-container45 {
  display: contents;
}
.backup-points-corriger2 {
  gap: var(--dl-space-space-twounits);
}
.backup-container47 {
  display: contents;
}
.backup-container49 {
  display: contents;
}
