.creer-contrat-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}
.creer-contrat-titre1 {
  flex: 0 0 auto;
  display: flex;
}
.creer-contrat-menu {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.creer-contrat-navlink {
  display: contents;
}
.creer-contrat-liste-contrats {
  text-decoration: none;
}
.creer-contrat-container12 {
  display: contents;
}
.creer-contrat-main-container {
  z-index: 100;
}
.creer-contrat-informations-client {
  position: relative;
  flex-direction: column;
}
.creer-contrat-choix-client {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.creer-contrat-nouveau-client {
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.creer-contrat-rechercher-client {
  flex: 0 0 auto;
  flex-direction: column;
}
.creer-contrat-tableau-liste-clients {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.creer-contrat-partie210 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.creer-contrat-radiobutton1 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.creer-contrat-radiobutton2 {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
}
.creer-contrat-partie211 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.creer-contrat-radiobutton3 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.creer-contrat-container16 {
  flex: 0 0 auto;
  display: flex;
}
.creer-contrat-radio {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
}
.creer-contrat-container17 {
  flex: 0 0 auto;
  display: flex;
}
.creer-contrat-radiobutton4 {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
}
.creer-contrat-partie212 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-partie41 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-partie32 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie42 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-partie214 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.creer-contrat-container20 {
  display: contents;
}
.creer-contrat-partie33 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie215 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-partie34 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie44 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-ligne-infos-contact1 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.creer-contrat-partie216 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-partie35 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie45 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-container21 {
  background-color: var(--dl-color-menu-blanc);
}
.creer-contrat-bouton-rouge1 {
  position: relative;
}
.creer-contrat-bouton-bleu1 {
  position: relative;
}
.creer-contrat-informations-meubl1 {
  display: none;
  position: relative;
  box-shadow: 0px 0px 0px 0px #d4d4d4;
  flex-direction: column;
  background-color: var(--dl-color-menu-gris);
}
.creer-contrat-informations-meubl2 {
  width: 100%;
  position: relative;
  flex-direction: column;
}
.creer-contrat-titre-infos-logement1 {
  position: relative;
}
.creer-contrat-partie120 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.creer-contrat-partie217 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.creer-contrat-container23 {
  display: contents;
}
.creer-contrat-partie36 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie46 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-partie218 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-partie37 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie47 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-ligne-infos-contact3 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.creer-contrat-partie219 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-partie38 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie48 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-informations-additionnelles {
  display: none;
  position: relative;
  flex-direction: column;
}
.creer-contrat-titre-infos-logement2 {
  position: relative;
}
.creer-contrat-partie220 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-partie39 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.creer-contrat-partie49 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.creer-contrat-ligne-infos-adresse24 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.creer-contrat-partie221 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.creer-contrat-container25 {
  display: contents;
}
.creer-contrat-container26 {
  background-color: var(--dl-color-menu-blanc);
}
.creer-contrat-bouton-rouge2 {
  position: relative;
}
.creer-contrat-bouton-bleu2 {
  position: relative;
}
.creer-contrat-container28 {
  display: contents;
}
.creer-contrat-container30 {
  display: contents;
}
.creer-contrat-container32 {
  display: contents;
}
.creer-contrat-container34 {
  display: contents;
}
.creer-contrat-container36 {
  display: contents;
}
.creer-contrat-container38 {
  display: contents;
}
.creer-contrat-container40 {
  display: contents;
}
.creer-contrat-container42 {
  display: contents;
}
