.menu-latral-cadre-menu1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
}
.menu-latral-container12 {
  display: contents;
}
.menu-latral-container14 {
  display: contents;
}
.menu-latral-container16 {
  display: contents;
}
.menu-latral-container18 {
  display: contents;
}
.menu-latral-container20 {
  display: contents;
}
.menu-latral-container22 {
  display: contents;
}






